/* @font-face {
    font-family: pc-9800;
    src: url(pc-9800.ttf);
} */

* {
    --w: 512px;
    --bg: #373b44;
    --color: #fff;
}

body {
    margin: 1em auto;
    width: 640px;
    background: var(--bg);
    color: var(--color);
    font-family: monospace;
}

#game {
    background: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    
    padding-top: 1em;
    border: 1px solid;
    height: 400px;
}

#background {
    background-color: transparent;
    background-repeat: no-repeat;
    width: var(--w);
    height: 300px;
}

#sprite {
    width: 250px;
    height: 250px;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: 50px;
}

#script {
    width: var(--w);
}

.dialog, a {
    color: #9badb7;
}